.infoContainer 
{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    height:100%;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow-y: auto;
    padding-right:10px;
    gap: 20px;
}

.infoTitle 
{
    margin: 0;
    padding: 0;
    height:10px;
    font-size: 24px;

}

.infoContainer input 
{
    flex-grow:1;
    height: 30px;
    background-color:rgb(242,242,242);
    border: none;
    border-radius: none;
    flex-grow:1;
    color: rgb(170,170,170);
    border-radius: 4px;
    margin: 0;
    padding-left:10px;
    padding-right:10px;
    overflow:auto;
}

.infoContainer input:focus
{
    outline: none; 
    border: none,
}