.listContainer 
{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;

}


.listTitle {
    display:flex;
    font-size: 24px;
    height: 40px;
    align-items: center;
    justify-content: center;

}


.listTitleInfo 
{
    display:inline;
    height: auto;
    width: auto;
    color: rgb(0, 157, 234);
    text-align:left;
}

.listTable 
{
    table-layout: fixed;
    flex-grow: 1;
    border-collapse: collapse;
}

.listTable  tbody  tr 
{
    display:flex;
    height: 40px;
    padding-left:5px;
    border-bottom: 1px solid rgb(242,242,242);
}


.listTable  tbody  tr:hover
{
    display:flex;
    height: 40px;
    padding-left:5px;
    background-color:rgb(242,242,242);
}




.listTable  tbody tr:first-child
{
   background-color:rgb(242,242,242);
   border-bottom: none;
}


.listTable tbody tr td 
{
    display:flex;
    align-items:center;
    width:50%;
}