.WhoIsMyRepresentative
{
    display:flex;
    flex-direction:column;
    max-width: 800px;
    height:450px;
    background-color: white;
    border: 1px solid gray;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;

    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
}

.headerCont
{   
width:100%;
height: 80px;
}

.content
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    margin: 0;
    padding: 0;
   
}

.controls 
{
    display:flex;
    width: 100%;
    height: 30px;
    margin-top:5px;
}

.split 
{
    display:grid;
    flex-grow:1;
    gap:25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


.split *
{
    flex-grow:1;
    height:100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .split 
        {
            display:grid;
            flex-grow:1;
            gap:25px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

    .WhoIsMyRepresentative
        {
            height: auto;
        }
  } 